@import "style-globals";
@import "modules/header";
@import "modules/slider";
@import "modules/content";
@import "modules/footer";
@import "responsive";
@import "modules/about";
@import "modules/open-source";
@import "modules/testimonials";

.ul-mh {
  display: flex;
}

.widget-header svg {
  max-width: 100%;
}

.open-source {
  margin-top: 60px;
  margin-bottom: 60px;
}

.bpc-widget-intro-01 .widget-header .widget-icon {
  z-index: 600000000000;
}

.page-area {
  height: 600px;
  background: url('/public/images/home-background.jpg') center fixed;
  background-size: cover;
}
