@import "style-globals";
@import "modules/header";
@import "modules/slider";
@import "modules/content";
@import "modules/footer";
@import "responsive";
@import "modules/about";
@import "modules/open-source";
@import "modules/testimonials";

.ul-mh {
  display: flex;
}

.offer-icons, .what-we-can-do {
  display: flex;
  flex-wrap: wrap;
}



.about {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &__section {
    padding: 5% 10%;
    display: flex;
    width: 50%;
    flex-direction: column;
    &--left {
      text-align: right;
    }
    &--right {
      text-align: left;
      color: #fff;
    }
  }


}

.widget-header svg {
  max-width: 100%;
}

.open-source {
  margin-top: 60px;
  margin-bottom: 60px;
}

.bpc-widget-intro-01 .widget-header .widget-icon {
  z-index: 600000000000;
}

.page-area {
  height: 600px;
  background: url('/public/images/home-background.jpg') center fixed;
  background-size: cover;
}
